<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    
	<link rel='stylesheet' href="/static/css/bootstrap.css"/>
	<link rel='stylesheet' href="/static/css/style.css"/>
  </head>
  <body>
      
  	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
  <div class="header">
  <h1>
  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span><center>Image Upscaling and Denoising</center></h1>
</div>
<div class="abstract">
<center>
  <h3>Abstract</h3>
</center>

  <p>This project mainly focuses on memories restoration through image restoration techniques.Your low quality image is turned to a high quality one through modern image super resolution algorithms. 
  	And producing a more advanced option through image de-noising to make a 1990 image appears like a DSLR ones!
</p>
</div>
<div class="Super Resolution examples">
  <h3><center>Super Resolution examples</center></h3>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          
          <img src="/static/images/2x.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p><center>2X Example</center></p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/images/3x.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p><center>3X Example</center></p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/images/4x.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p><center>4X Example</center></p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="Denoising Examples">
  <h3><center>Denoising Examples</center></h3>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/images/denoising1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p><center>Denoising Example</center></p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/images/denoising2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p><center>Denoising Example</center></p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/static/images/denoising3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p><center>Denoising Example</center></p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="button">
  <a href="http://127.0.0.1:5000/demo">
      <center><button type="button" ><span>Try Our Demo </span></button></center>
  </a>
  

</div>
	</body>
</html>